doctype html

html(lang="en-US")

  head
    title RequestBin
    meta(charset="UTF-8")
    //- link(rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Sans")
    //- link(rel="stylesheet" href="/stylesheets/application.css")

    div
      a(href=`/`) Home

  body
    header
      h1= `Bin URL: https://${hostname}/bin/${binPath}`
    
    block headerLinks
      form(action=`/deleteReqs/bin/${binPath}` method="post")
        fieldset.actions
          button Delete all requests
        
    main 
      ul
        if allRequests.length > 0
          each request, index in allRequests 
            //- a(href=`/bin/${bin_id}`)
            //- li= JSON.stringify(request)
            fieldset.actions
                li= request.url 
                li= request.method
                //- let keys = Object.keys(request.headers)
                h2= "HEADERS"
                each key, index in Object.keys(request.headers)
                  pre= `${key} : ${request.headers[key]}`
                h2= "BODY"
                  p= "\n"
                  code= JSON.stringify(request.body)
