doctype html

html(lang="en-US")

  head
    title RequestBin
    meta(charset="UTF-8")
    //- link(rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Sans")
    //- link(rel="stylesheet" href="/stylesheets/application.css")

    div
      a(href=`/`) Home


  body
    header
      h1= `Bin URL: http://${hostname}/bin/${binPath}/reqs`
        
    main 
      ul
        each request, index in allRequests 
          //- a(href=`/bin/${bin_id}`)
          //- li= JSON.stringify(request)
          li= `${request.id} - ${request.kind}`